/dist/
/nbproject/private/
/nbproject/ant-deploy.xml
/nbproject/project.properties
/build/
/web/Seller/Seller_Interface/nbproject/private/
/web/Seller/Seller_Interface/build/
/web/Seller/Lab_Session2/nbproject/private/
/web/Seller/Lab_Session2/build/
/web/Seller/connectToDBII/nbproject/private/
/web/Seller/Upload Photo/nbproject/private/
/web/Seller/Upload Photo/build/